* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Saira", sans-serif;
  font-size: 16px;
  color: #777;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3 {
  color: #333;
}

@media (min-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
.header-area {
  position: relative;
  height: auto;
}

.header {
  position: relative;
  background-color: #f4f4f4;
  background-image: url("../imgs/header.jpg");
  background-repeat: no-repeat;
  background-size: 100% 250px;
  background-attachment: fixed;
  width: 100vw;
  height: 250px;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 32, 32, 0.5);
  z-index: -1;
}

.header__social {
  list-style: none;
  text-align: center;
}

.header__social__list {
  display: inline-block;
  padding: 0.5rem;
}

.header__social__link {
  color: #fff;
}

.header__content {
  text-align: center;
  color: #fff;
}

.header__title {
  font-size: 2rem;
  color: #fff;
}

.header__subtitle {
  font-size: 1.5rem;
  color: #fff;
}

.header__mono {
  color: #fff;
}

.header__btn {
  background-color: #ff6347;
  color: #fff;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  font-size: 17px;
}

.menu {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0ch 0ch 10ch rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 0.5rem;
}

.menu__list {
  list-style: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.menu__list__item {
  margin: 0 1rem;
}
.menu__list .menu__item a {
  color: #000;
  padding: 5px;
}
.menu__list .menu__item a:hover {
  color: #fff;
  background-color: tomato;
}
.menu__list__link {
  color: #000;
}
.menu__list__link:hover {
  color: #777;
}

.logo {
  display: none;
}

@media (min-width: 768px) {
  .header {
    background-size: 100% 100vh;
    height: 100vh;
  }
  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 30%;
    min-height: 70%;
    line-height: 3.5rem;
  }
  .header__social {
    list-style: none;
    text-align: left;
    padding-left: 2%;
    padding-top: 1%;
  }
  .header__title {
    font-size: 3rem;
  }
  .header__subtitle {
    font-size: 2rem;
  }
  .header__btn {
    position: relative;
    font-size: 1rem;
    border-radius: 3px;
    padding: 0 1.5rem;
    height: 50px;
  }
  .header__btn i {
    position: relative;
    right: 5px;
  }
  .menu {
    padding: 1rem;
  }
  .menu__list {
    gap: 1rem;
  }
  .menu__item a {
    padding: 10px 15px;
  }
}
.about__whoami,
.about__personal,
.about__expertise {
  box-shadow: 0ch 0ch 10ch rgba(0, 0, 0, 0.2);
  min-height: 180px;
  height: auto;
  padding: 20px 10px 20px 50px;
}

.about__title {
  font-size: 2rem;
  font-weight: normal;
}

.about__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ff6347;
  margin: 10px 0;
}

.about__sub_title {
  font-size: 1rem;
  font-weight: normal;
  color: #000;
  margin: 20px 0px;
}

.about__text {
  font-size: 1rem;
  font-weight: normal;
  color: #777;
  margin: 20px 0px;
}

.about_btn {
  background-color: #fff;
  color: #ff6347;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #ff6347;
  font-size: 1rem;
}

.about__list {
  list-style: none;
  margin: 20px 0px;
}
.about__list li {
  font-size: 1rem;
  font-weight: normal;
  color: #777;
  margin: 20px 0px;
}

.about__item--bold {
  font-weight: bold;
}

.about__social {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.about__expertise__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.about__expertise__item i {
  font-size: 2.5rem;
}

.fa-react {
  color: skyblue;
}

.fa-laravel {
  color: red;
}

.fa-node {
  font-size: 2rem !important;
  color: green;
}

.about__expertise__item__title {
  margin: 0.25rem 0 0 0.5rem;
}

.about__expertise__item__text {
  margin: 0.25rem 0 0 0.5rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .about {
    margin-top: 0.25rem;
    display: flex;
    justify-content: center;
    min-height: 250px;
  }
  .about > * {
    flex: 1;
  }
}
.resume-area__title {
  margin: 2rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.resume-area__title-heighlight {
  color: #ff6347;
}

.resume__experience,
.resume__education,
.resume__skills {
  box-shadow: 0ch 0ch 10ch rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
  min-height: 180px;
  height: auto;
  margin: 0.5rem;
  padding: 20px 10px 20px 50px;
}

.resume__title {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 10px 0 20px 0;
}

.resume__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #ff6347;
  margin: 10px 0;
}

.resume__list {
  list-style: none;
}

.resume__item__title {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 15px 0 5px 0;
  color: #ff6347;
}

.resume__item__date {
  font-size: 1rem;
  font-weight: normal;
  margin: 5px 0;
  color: #777;
}

.resume__item__text {
  font-size: 1rem;
  font-weight: normal;
  margin: 5px 0;
  color: #777;
}

.resume__item__text {
  font-size: 1rem;
  font-weight: normal;
  margin: 5px 0;
  color: #777;
}

.resume__item__text--highlight {
  font-weight: bold;
  padding: 8px 0;
}

.resume__language {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.resume__language__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.resume__language__item i {
  font-size: 2rem;
}

.resume__language__text {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .resume {
    margin-top: 0.25rem;
    display: flex;
    justify-content: center;
    min-height: 250px;
  }
  .resume > * {
    flex: 1;
  }
  .resume__language {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}
.portfolio-area__title {
  margin: 2rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.portfolio-area__title-heighlight {
  color: #ff6347;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.portfolio__box {
  box-shadow: 0ch 0ch 10ch rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
  min-height: 180px;
  height: auto;
  margin: 0.5rem;
  padding: 20px;
}

.portfolio__img {
  width: 100%;
}

.portfolio__title {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 10px 0 10px 0;
  color: #ff6347;
}

.portfolio_description {
  text-align: justify;
}

@media (min-width: 768px) {
  .portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .portfolio > * {
    flex: 0 1 calc(30% - 1rem);
    box-sizing: border-box;
  }
}
.contact-area__title {
  margin: 2rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.contact-area__title-heighlight {
  color: #ff6347;
}

.contact__info,
.contact__form {
  box-shadow: 0ch 0ch 10ch rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
  min-height: 180px;
  height: auto;
  margin: 0.5rem;
  padding: 20px;
}

.contact__info__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  color: #000;
}

.contact__info__item i {
  font-size: 1.5rem;
  color: #ff6347;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 1rem;
}

.contact_btn {
  background-color: #ff6347;
  border: none;
  color: #fff;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .contact__wrapper {
    margin-top: 0.25rem;
    display: flex;
    justify-content: center;
    min-height: 250px;
    width: 92vw;
    margin: 0 auto;
  }
  .contact__wrapper > * {
    flex: 1;
  }
  .contact__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 4rem;
  }
  .contact__info > * {
    flex: 0 1 calc(50% - 1rem);
    box-sizing: border-box;
  }
}
.footer {
  box-shadow: 0ch 0ch 10ch rgba(0, 0, 0, 0.2);
  height: auto;
  margin: 0.5rem;
  padding: 20px;
}
.footer__text {
  font-size: 1rem;
  color: #777;
  text-align: center;
  margin: 1rem 0;
}/*# sourceMappingURL=style.css.map */