// Colors
$primary-color: #333;
$secondary-color: #f4f4f4;
$accent-color: #ff6347;
$text-color: #777;
$white-color: #fff;
$black-color: #000;

// Typography
$font-main: "Saira", sans-serif;
$base-font-size: 16px;
$heading-font-size: 2rem;
